<div class="large-7 columns">
	
	<h1>Spiderlist watches the classifieds, so you don't have to.</h1>

	<p>Spiderlist checks the latest postings from Craigslist, Ebay, and Backpage - and emails you the postings that match what you're looking for, as often as you want.  Stop spending your day compulsively checking the latest postings.</p>

	<h3>1) Sign Up.</h3>

	<h3>2) Enter what you're looking for.</h3>

	<h3>3) Go do something else until we find what you want.</h3>

	<p>Thank you <%= link_to '3Taps', 'https://3taps.com/' %> for the awesome API!</p>
	
</div>

<div class="large-5 columns">

	<%= render "devise/registrations/register" %>
	
	<%= render "devise/sessions/login" %>

</div>