<div class="row">
	<div class="large-8 columns">
		<h1>Start watching!</h1>
		<%= render 'form' %>
	</div>

	<div class="large-4 columns">
		<h2>A few tips...</h2>
		<ul>
			<li>You can always edit this later!</li>
			<li>Fewer options means more alerts.</li>
			<li>More options means more relevant results.</li>
			<li>We only email you 10 results at a time, but you can always view all your results by going to your dash here on the site.</li>
		</ul>
	</div>
</div>
